.dropshadowclass {
	border: solid 1px #CCC;
	-moz-box-shadow: 5px 5px 0px #999;
	-webkit-box-shadow: 5px 5px 0px #999;
	box-shadow: 2px 2px 10px #999;
	width: 250px;
}

#agentprofile-widget {
	background: #EEE9DF;
	padding-bottom: 50px;
	text-align: center;
	font-size: 1.0em;
}

#agentprofile-widget h3 {
	font-size: 1.0em;
	width: 200px;
	padding: 0 10px;
	background: #666666;
	height: 32px;
	line-height: 32px;
	color: #FFFFFF;
	text-transform: uppercase;
}

#agentprofile-widget img {
	display: block;
	margin: 0 auto;
	padding: 3px;
	background: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}

#agentprofile-widget img[style *="border-width:"] {
	border: 1px solid #ccc !important;
}

#agentprofile-widget div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

#agentprofile-widget #hcard {
	width: 180px;
	line-height: 1.1;
	margin: 0 auto;
	font-weight: bold;
	font: 109%/185% Arial, Verdana, sans-serif;
	color: #333;
}

#agentprofile-widget .adr {
	margin-bottom: 10px;
}

#main h2 {
	width: 688px;
	margin-left: 0;
	font: normal 3.0em/1.2 Georgia, "Times New Roman", Times, Serif;
	color: #666666;
	margin-bottom: 10px;
	text-transform: capitalize;
}

#main {
	float: right;
	width: 700px;
	font: 62.7%/185% Arial, Verdana, sans-serif;
	color: #333;
}

.editor {
	font-size: 1.2em;
}

#about-us .editor p {
	margin-bottom: 1.5em;
	line-height: 1.2;
}

#sidebar {
	padding-top: 0px !important;
}

#right-column {
	width: 730px !important;
	padding-top: 0px !important;
}