@charset "utf-8";
/* CSS Document */

#contactForm {
	color:#474340;
}

#contactForm  label {
	font-family:Georgia, "Times New Roman", Times, serif;
}
#contactForm h2 { margin-bottom:0; }
#contactForm input, #contactForm textarea, #contactForm select {
	border: 1px solid #D2B77A;
	background-color:#FFF;
}

#contactForm .interestBox .interestItems .itemContainer{
	background-color:#FDF7E9;
	font-size:11px;
	text-transform:capitalize;
}

#contactFormSubmitContainer input { 
	border:none;
	color:#000;
	background-color:#FDF7E9;
	text-transform:uppercase;
	/*background:url(../images/buttons/btnSend.png);*/
	
	height:24px;
	width:70px !important;
}

#contactFormSubmit { font-family:Georgia, "Times New Roman", Times, serif; }
.itemContainer div {color:#000; }
.formBoxWide { clear:both; }
h2 { clear:both; }

#contactForm{
	width:442px;
}

#contactForm .formBox{
	width:200px;
	float:left;
	margin:0 18px 12px 0;
}

#contactForm .smlselect {
	width:76px;	
}

#contactForm .midselect {
	width:106px;	
}

#contactForm  label {
	clear:both; 
	width:100%;
	float:left;
	font-size:11px;	
}

#contactForm .zipcode {
	width:60px;
}

#contactForm .state {
	width:90px;
	margin-right:16px;
}

#contactForm .phone {
	width:60px;
	margin:0 6px 0 0;
}

#contactForm .short {
	width:40px;
	margin:0 6px 0 0;
}

#contactForm input, #contactForm textarea, #contactForm select {
	margin:0;
	width:100%;
}

#contactForm input[type=checkbox]{
	width: 13px;
	border:none;
}

#contactForm .interests { 
	width: 100%;
	float: left;
	margin-bottom: 12px;
}

#contactForm .interests p{ 
	margin:12px 0 6px 0;
}

#contactForm .interests label {
	clear:none;
	float:left; 
	margin:0 12px 0 0;
	width:auto;
	
	display: block;
    padding-left: 18px;
    text-indent: -18px;
}

#contactForm .interests input {
    width: 13px;
    height: 13px;
    padding:0;
    margin: 0 6px 0 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

#contactForm .interestContainer {
	margin:0px 18px 12px 0px;
	width:200px;
	float:left;
}
	
#contactForm .interestTitle {
	float: left;
	width: 200px;
	margin-bottom: 5px;
}

#contactForm .interestBox {
	float: left;
	clear:left;
	width: 200px;
	height:96px;
	overflow: scroll;
	overflow-x:hidden;
}

#contactForm .interestBox input[type=checkbox] {
	float: right;
	margin:4px 4px 0 0;
}

#contactForm .interestBox .interestItems .itemContainer{
	float: left;
	margin-bottom: 1px;
	height: 23px;
	clear:both;
	width:100%;
}

#contactForm .interestBox .interestItems div div{
	float: left;
	margin-top:4px;
	text-indent:6px;
	width: 160px;
}

#contactFormFooter {
	float: left;
	width:418px;
}

#contactFormFooter .contactUpdate  {
	clear:none;
	float:left; 
	margin:12px 12px 0 0;
	width:auto;
	
	display: block;
    padding-left: 18px;
    text-indent: -18px;
}

#contactFormFooter .contactUpdate input {
	width: 13px;
    height: 13px;
    padding:0;
    margin: 0 6px 0 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
	
#contactFormDisclaimer{
	float: left;
	clear:both;
	margin-top:12px;
	font-size:10px;
}

#contactFormSubmitContainer input { 
	float:left;
	clear:both;
}
