#header {
	background:#ff0;
/* 	padding:10px; */
}

#header-menu {
	position:absolute;
	top: 118px;
	left: 200px;
	padding:0px 0px 0px 35px;
	font-size:1.0em;
}

#header-menu ul {
	font-family: Georgia;   
	font-size: 14px;   
	margin: 0;   
	padding: 0;   
	list-style: none;
}

#header-menu ul li {
	display: block;
	position: relative;
	float: left;	
}

#header-menu li ul {
	display: none;
	z-index:9999;
}

#header-menu ul li a {
	display: block;   
	text-decoration: none;   
	color: #ffffff;   
	/* border-top: 1px solid #ffffff; */   
	padding: 0px 15px 5px 15px;   
	background: #333333;   
	margin-left: 1px;   
	white-space: nowrap;
}

#header-menu ul li a:hover {
	background: #333333;
}

#header-menu a:hover {
	color:#b3dcfb;
	text-decoration:underline;
}

#header-menu li:hover ul {
	display: block;
	position: absolute;
}

#header-menu li:hover li {
	float: none;
	font-size: 11px;
}

#header-menu li:hover a {
	background: #333333;
}

#header-menu li:hover li a:hover { 
	background: #333333;
}

.social-network-font {
	font-family: socialMediaFont;
}

#social-networks {
	position:absolute;
	left:810px;
	padding-top:15px;
}

#social-networks li { 
	display:inline-block; 
	float:left;
	padding-right:3px;
}

#page-wrapper {
	margin:0 auto;
	padding:0;
}

/* #body {
	height:588px;
	width:1020px;
	overflow:hidden;
	position:relative;
} */

.social-network-items {
	margin:0 auto;
	padding:0px 0px 5px 0px;
	font-size:0.75em;
	color:#FFFFFF;
}

.social-network-items a:visited {
	color:#CCCCCC;
	text-decoration:none;
	font-size:2.75em;
}

.social-network-items a:link {
	color:#CCCCCC;
	text-decoration:none;
	font-size:2.75em;
}
.social-network-items a:hover {
	color:#b3dcfb;
	font-size:2.75em;
}

#header-upper {
	height:20px;
	background-color:#000000;
}

#header-lower {
	height:120px;
	background-color:#333333;
	box-shadow: 0px 5px 2px #888888;
}

#hero-image {
	position:absolute;
	left:60px;
}

#header-name {
	position: absolute;
	left: 290px;
	top: 15px;
	/* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	font-size: 58px;
	/* font-weight: bold; */
	color: #ffffff;
}